* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* div:hover{ }  funcion que permite borde cuando paso el cursor */

body {
    background-image: url(../img/alex-perez-wEgR12N01Tk-unsplash.jpg);
    font-family: 'Montserrat', sans-serif;
    color: #64021f;

}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    gap: 1em;
    width: 100%;
    height: 50%;
    padding-top: 30px;


}

div p {
    justify-items: center;
    align-items: center;

}

.hombre-regando {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    grid-row: 1/2;
    gap: 3.125rem;

}

.hombre-regando img {
    width: 300px;
    height: 310px;
    margin-left: 110px;
    margin-top: 20px;
}



.diego {
    align-items: center;
    grid-row: 1/3;
    justify-items: center;
    gap: 32px
}

.header {
    background-color: #83c5c7a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 18px;
}

a {
    font-size: 23px;
    text-decoration: none;
}

.navbar {
    display: flex;
    list-style: none;
    padding: 15px;
}

.navbar li a {
    text-decoration: none;
    padding: 10px;
    font-size: 26px;
    color: rgb(4, 71, 16);
}

.galeria {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
        "div2 div1 div3"
        "div2 div1 div3"
        "div2 div4 div4";
    justify-content: center;
    gap: .625rem;
}

.galeria div {
    width: 100%;
    height: 100%;

}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 25pxs;
}

.div1 {
    grid-area: div2;
    width: 50%;
    height: 50%;
}

.div2 {
    grid-area: div1;
}

.div3 {
    grid-area: div4;
}

.footer {
    display: flex;
    background-color: #83c5c7a9;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}


.a2 {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
}


.ul {
    list-style: none;
}


.logos {
    /*  display: grid;
    justify-self: space-between; */
    align-self: center;
}

.tel {
    align-self: center;
}


main {
    padding-top: 5px;

}

.carousel-inner {
    padding: 40px;
    margin-top: 100px;
}

.h4 {
    background-color: #83c5c7a9;
    /*     align-items: center;
    justify-self:flex-end; */
    align-content: center;
}

.card {
    margin-left: 25px;
    background-image: url(../img/cesped.jpg);
    background-repeat: repeat;
    font-size: 30px;
    color: #010f0ffb;
}


/* desde acá viene NOSOTROS */

.nosotros {
    display: flex;
    justify-content: center;
    gap: .9375rem;
    align-items: center;
    padding: 70px;
    gap: 1.25rems;
    flex-direction: column;
}


.nuestrosproyectos {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.nuestrosproyectos h1 {
    padding: 30px;
}

.nuestrosproyectos h2 {
    padding: 30px;
}

.proyectos {
    background: url(../img/alex-perez-wEgR12N01Tk-unsplash.jpg);
    width: 100%;
    margin: 1 auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(5, 1fr);
}

.proyectos .proyectos1,
.proyectos .proyectos2,
.proyectos .barralateral,
.proyectos div {
    background: url(../img/alex-perez-wEgR12N01Tk-unsplash.jpg);
    padding: 10px;
}

.proyectos .proyectos1 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.proyectos .proyectos2 {
    grid-column: 1/6;
    grid-row: 4/6;
    border: 2px solid #83c5c7;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.proyectos .barralateral {
    grid-column: 4/6;
    grid: 1/6;
    background: #83c5c7;
    height: 100%;

}

.medios-de-pago {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    color: #64021f;
    gap: 15px
}

.posnet {
    grid-column: 1/2;


}

.medios-de-pago2 {
    grid-column: 3/4;
}

.medios-de-pago3 {
    grid-column: 2/3;


}

.medios-de-pago p {
    font-size: 24px;
}

ul li {
    gap: 15px;
    padding: 15px;
    font-size: 24px;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;
}

.contacto2 {
    display: grid;
    padding: 120px;
    grid-template-areas: repeat(4, 1fr) / repeat(3, 1fr);
    gap: 50px;

}

.contacto2 .div1 {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 15px;
    margin: 15px;
    row-gap: 25px;
}

.contacto2 .div2 {
    grid-column: 3/4;
    /* grid-row: 4/4; */
}

.contacto2 .imgcontacto {
    grid-column: 1/3;
    gap: 6.25rem;
}

.imgcontacto {
    height: 100%;
    width: 100%;
}





@media(max-width:64rem) {
    .medios-de-pago2 p {
        font-size: 15px;
        border: .3125rem solid black;
        padding: 5px;

        p {
            font-size: 15px;
        }

        .conteiner div img {
            display: none;
        }

        .galeria {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 100px 100%;
            grid-template-areas:
                "div1 div3"
                "div1 div3";
            justify-content: center;
            gap: .625rem;
        }

        .galeria .div4 img {
            display: none;
        }

        .galeria .div2 img {
            display: none;
        }
    }

    .medios-de-pago {
        gap: 35px;
    }


    .contacto {
        font-size: 15px;

    }

    .imgcontacto img {
        width: 450px;

    }

    .contacto2 {
        display: flex;
        padding: 25px;
        gap: 100px;

    }

    .div1 {
        /*  justify-content: end; */
        margin-top: 125px;
        justify-content: space-between;
    }

}


@media(max-width: 48rem) {

    .navbar li a {
        padding: 10PX;
        font-size: .9375rem;
    }

    .header {
        display: flex;
        justify-content: center;

    }

    .medios-de-pago3 h1 {
        font-size: 1.25rem;
    }

    .ul li {
        font-size: 1.125rem;
    }

    .posnet img {
        width: 12.5rem;
        height: 12.5rem;
    }

    .header img {
        width: 6.25rem;
        height: 6.25rem;
    }

    .imgcontacto img {
        padding-right: 60px;
        padding-top: 25px;
    }

}

@media(max-width: 20rem) {

    .body {
        background-image: url(../img/cesped.jpg);
    }

    .header {
        background-color: #83c5c7a9;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header img {
        width: 3.125rem;
        height: 3.125rem;
    }

    .navbar li a {
        font-size: .625rem;
    }
}